.divbox{
     width: 100%;
    font-style: oblique 40deg;
    overflow: hidden;
    background:rgb(255,255,255);  
    padding:20px;
    font-weight: lighter;
}

.mesuccess{
    background:#ffffff;
    height: 70px;
    font-style: oblique;
    color:rgb(22, 27, 22);
    text-align: left;
    border: 2px,rgba(243, 240, 237, 0.671);

}
.hesuccess{
    background:#ffffff;
     height: 70px;
    font-style: oblique;
    color:rgb(31, 17, 17);
    text-align:left;
    border:2px,rgba(243, 240, 237, 0.671);
}
.wrapping{
    border:10px solid black ;
}
.spamDisplay{
    opacity: 0.2;
   
}
.sender{
    margin:9px -53px 16px 0px;
    font-weight: 900 !important;
    font-style: oblique 40deg;
}
.time{
     font-size:12px;
     margin:25px 74px;
     color:rgb(153, 153, 153);
}
.messagebody{
        margin: 15px 10px -5px 0;
        max-width: 540px;
        font-size: 14px;
        line-height: 145%;
        font-weight: 300 !important;
        word-break: break-word;
        white-space: pre-line;
        overflow-wrap: break-word;
        font: caption;
}
.spanclass{
    display:inline;
    float:right;
    font-size: 12px;
    color:#b2b2b2;
    text-indent:8px;
    margin-right: 258px;
}
.well-sm {
    padding: 3px;
    border-radius: 3px;
    min-height: 14px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.divmgs{
    margin:-11px 2px 0px 17px;
    font-style: oblique 40deg;
    font-size: 12px;
}
.alink{
    font-weight: 600 !important;
    color:black;
     font-style: oblique 40deg;
}
.mydrp{
    font-style: oblique 40deg;
     font-size: 12px !important;
     font-weight: 400 !important;
}
.chtbxusername{
    font-weight: 700 !important;
     font-size: 25px !important;
   
}